@charset "utf-8";


footer {
    top: 350px;
}

div.banner {
    width: 40%;
    position: relative;
    display: block;
    top: 30px;
    left: 60px;
}

div#sinopse {
    display: block;
    text-align: justify;
    float: left;
    margin: auto;
    padding: 40px;
    position: absolute;
    top: 100px;
    left: 400px;
    width: 60%;
}

iframe {
    margin: auto;
    display: block;
    position: absolute;
    top: 350px;
    left: 440px;
    width: 60%;
    height: 65%;
}

ul.banner {
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    list-style: none;
}

ul.banner li {
    float: left;
    width: 320px;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

ul.banner li span {
    opacity: 0;
    color: white;
    background-color: darkblue;
    font-size: 12pt;
    line-height: 920px;
    padding: 6px;
}

ul.banner li:hover span {
    opacity: 1;
}
