@charset "utf-8";


ul#calendario {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    list-style: none;
}

ul#calendario li {
    float: left;
    width: 205px;
    height: 310px;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    transition: all .3s ease-in;
}

ul#calendario li span {
    opacity: 0;
    color: white;
    background-color: darkblue;
    font-size: 9pt;
    line-height: 550px;
    padding: 5px;
}

ul#calendario li:hover span {
    opacity: 1;
}

ul#calendario li:hover {
    transform: scale(1.1);
}


ul#calendario li#calendario01 {
    background: url(../imagens/mushoku.jpeg);
    background-position: 50% 50%;
    background-color: white;
    background-size: 110%;
}
ul#calendario li#calendario01:hover {
    background-position: 0px 0px ;
    background-size: 100%;
}

ul#calendario li#calendario02 {
    background: url(../imagens/sao.jpeg);
    background-position: 50% 50%;
    background-color: white;
    background-size: 110%;
}
ul#calendario li#calendario02:hover {
    background-position: 0px 0px ;
    background-size: 100%;
}

ul#calendario li#calendario03 {
    background: url(../imagens/overlord.jpg);
    background-position: 50% 50%;
    background-color: white;
    background-size: 110%;
}
ul#calendario li#calendario03:hover {
    background-position: 0px 0px ;
    background-size: 100%;
}

ul#calendario li#calendario04 {
    background: url(../imagens/slime.jpeg);
    background-position: 50% 50%;
    background-color: white;
    background-size: 110%;
}
ul#calendario li#calendario04:hover {
    background-position: 0px 0px ;
    background-size: 100%;
}

ul#calendario li#calendario05 {
    background: url(../imagens/taizai.jpeg);
    background-position: 50% 50%;
    background-size: 110%;
    background-color: white;
}
ul#calendario li#calendario05:hover {
    background-position: 0px 0px ;
    background-size: 100%;
}
